/* Texts */

h1 {
    font-size: 2rem;
}

h2 { 
    font-size: 2rem;
}

h3 {}

/* HEADER */
.ms-header-container {
    background-color: #1abc9c;
    color: white;
}
/* MAIN */

/* FOOTER */

/* UTILITIES */

/* Colors */

.ms-bg-color-white {
    background-color: white;
}

.ms-txt-black {
    color: black;
}

.ms-bg-color-red {
    height: 50px;
    background-color: red;
    border: 2px solid black;
}

.ms-bg-color-blue {
    height: 50px;
    background-color: blue;
    border: 2px solid black;
}

.portfolio {
    height: 500px;
    background-color: beige;
}